.Panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(112, 112, 238);
}

.List {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;

  font-size: 14px;
}

.ListRight {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: 14px;
}

.Item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.Link {
  display: inline-block;
  color: white;
  padding: 20px;
  cursor: pointer;
}

.active {
  border-bottom: 4px solid rgb(138, 234, 247);
  color: rgb(138, 234, 247);
}

.Hide {
  display: none;
}
